<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sorteo gratuito</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css')}}">
  </head>
  <body>
    <div class="container">

      <header>
       {% block header %}{% endblock %}
      </header>
      

     <main>
         {% block main %}{% endblock %}
     </main>
    </div>
  </body>

<footer>
  <div class="todo">
    <div><strong>Reglas del juego: </strong> <p>Puedes probar suerte cada 30 días de manera completamente gratuita, y puedes ganar premios como un Peugeot 206 o 5.000€, si tienes suerte y ganas el premio, entrarás en el sorteo de un Super Gran Premio de ese mes, el dia 28, que es el día que debes participar, para ganar premios como un Lamborgini o un Ferrari. </p></div>c
  </div>
</footer>

</html>
